.saved-container{
    background-color: #f0f0f0; /* Optional: Add background color */
    height: 100%;
    width: 100%;
    
}

.saved-results{
    font-size:2.5rem;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 37%;
    margin-top: 5%;
}

.saved-container{
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 2%; /* Adjust the gap between divs */
    margin-top: 2%;
    padding-left: 3%;
}

.saved-container::after {
    content: '';
    flex-grow: 1;
    min-width: 33.33%; /* Maintain 3 divs in a row */
  }

.saved-avatar-container{
    display: flex;
    align-items: center;
}

.saved-circle-avatar{
    width: 20%;
    height: 48px;
    border-radius: 50%;
    background-color: #eeefef;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.saved-avatar-text{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.saved-owner-text{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.saved-owner-posted-on{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

.saved-buy-plot-image-container{
    overflow: hidden;
    margin-top: 3%;
}

.saved-buy-plot-image{
    width: 100%; /* Ensures the image takes the full width of its container */
    height: auto; /* Maintains the aspect ratio */
    transition: transform 0.3s ease-in-out;
}

.saved-buy-plot-image:hover {
    transform: scale(1.1); /* Increase the scale on hover */
  }

.saved-info-display-container{
    background-color: #eeefef;
    height:50px;
    margin-top: 3%;
    padding-top: 5px;
}

.saved-buy-plot-image {
    width: 350px; /* Adjust the width as needed */
    height: 350px; /* Adjust the height as needed */
    overflow: hidden;
}
  
.saved-buy-plot-image img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Crop the image to cover the container */
}

.saved-info-display{
    margin-left: 3%;
    font-size: 17px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.saved-buy-page1-service-button{
    height: 50px;
    width: 100%;
    background-color: #da2c32;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    font-size: large;
    font-family:'Times New Roman', Times, serif ;
}

.saved-buy-page1-service-button:hover{
    background-color: black;
}