
.buy-container{
    background-color: #eeefef;
    color: black;
    padding-top: 5%;
    display: flex;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 2%; /* Adjust the gap between divs */
    margin-top: 2%;
    margin-left: 6%;
  }

  .buy-container-left {
    background-color: #eeefef;
    flex: .13;
    padding-top: 8%;    
    padding-left: 1%;
    
  }

  .buy-container-right {
    background-color: #f0f0f0; /* Optional: Add background color */
    flex: 1;
    margin-top: 1%;
  }

  .sort-by-heading{
      font-size: 1.5rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .sort-by{
    padding-top: 3%;
  }

  .filters-container{
    padding-left: 5%;
    padding-top: 3%;
  }

  .price{
    margin-top: 2%;
    margin-left: 5%;
  }

  .price-min{
    width: 60%;
    height: 2.5vh;
  }

  .price-max{
    width: 60%;
    height: 2.5vh;
    margin-top:3%;
  }


  .filters-submit-class{
    padding-left: 20%;
    padding-top: 5%;
  }

  .filters-submit-button{
    font-size: .8rem;
  }
  
  
  .box {
    width: calc(33.33% - 20px); /* Maximum 3 divs in a row */
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */
    margin-bottom: 20px; /* Adjust the margin between rows */
    border: 1px solid #ccc;
    width: 29%;
    background-color: white;
    height: 10%;
  }
  
  /* Adjust box width for the last row */
  .container::after {
    content: '';
    flex-grow: 1;
    min-width: 33.33%; /* Maintain 3 divs in a row */
  }

  .searched-results{
    font-size:2.5rem;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 39%;
  }

  .buy-plot-image{
    width: 100%; /* Ensures the image takes the full width of its container */
    height: auto; /* Maintains the aspect ratio */
    transition: transform 0.3s ease-in-out;
  }

  .buy-plot-image:hover {
    transform: scale(1.1); /* Increase the scale on hover */
  }

  .buy-plot-image-container{
        overflow: hidden;
        margin-top: 3%;
  }

  .avatar-container {
    display: flex;
    align-items: center;
}

.circle-avatar {
    width: 20%;
    height: 48px;
    border-radius: 50%;
    background-color: #eeefef;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.avatar-text {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.owner-text {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.owner-posted-on{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

.info-display{
    margin-left: 3%;
    font-size: 17px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.info-display-container{
    background-color: #eeefef;
    height:50px;
    margin-top: 3%;
    padding-top: 5px;
}

.buy-page1-service-button{
    height: 50px;
    width: 100%;
    background-color: #da2c32;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    font-size: large;
    font-family:'Times New Roman', Times, serif ;
}

.buy-page1-service-button:hover{
    background-color: black;
}

.side-bar-heading{
  font-size: 1.6rem;
  padding-left: 3%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.side-bar-radio{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 6%;
  font-size: 1.15rem;
}

.dropdown-container{
  background-color: white;
  height: 20vh;
  margin-top: -7.1vh;
}

.dropdown-arrow-button{
  margin-left: 94%;
}

.image-container {
  width: 350px; /* Adjust the width as needed */
  height: 350px; /* Adjust the height as needed */
  overflow: hidden;
}

.image-container img {
  width: 100%; /* Ensure the image fills the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Crop the image to cover the container */
}